*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

nav.topNav{
    // overflow: hidden;
    font-size: 12px;
    font-family: "宋体";
    height: 35px;
    background-color: #f2f2f2;
    .left{
        float: left;
        li{
            line-height: 34px;
            float: left;
            padding: 0 6px;
            a{
                color: #737373;
                span{
                    color: #ff6a00;
                    padding-right: 3px;
                    padding-top: 6px;
                    font-size: 16px;
                }
            }
            :hover{
                color: #ff6a00;
                text-decoration: none;
            }
        }
        
    }
    .right{
        float: right;
        li{
            float: left;
            border-right: 1px solid #ccc;
            padding: 0 8px;
            margin: 9px 0px;
            &:nth-child(4){
                margin:7px 0px;
            }
            color: #737373;
            a{
                color: #737373;
                &:hover{
                    color: #ff6a00;
                    text-decoration: none;
                }
            }
            button{
                border: 0;
                font-size: 12px;
                padding: 0;
                background-color: transparent;
                color: #737373;
                &:hover{
                    color: #ff6a00;
                    background-color: transparent;
                }
            }
        }
    }
}

// logo部分
.logo{
    height: 100px;
}
.container{
    table{
        border: 1px solid #ccc;
        thead{
            background-color: #bbb;
            color: #555;
        }
        tr,th{
            text-align: center;
        }
    }
}

footer{
    height: 400px;
}