*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
#topBanner{
    img{
        height: 80px;
        width: 100%;
    };
}

nav.topNav{
    // overflow: hidden;
    font-size: 12px;
    font-family: "宋体";
    height: 35px;
    background-color: #f2f2f2;
    .left{
        float: left;
        li{
            line-height: 34px;
            float: left;
            padding: 0 6px;
            a{
                color: #737373;
                span{
                    color: #ff6a00;
                    padding-right: 3px;
                    padding-top: 6px;
                    font-size: 16px;
                }
            }
            :hover{
                color: #ff6a00;
                text-decoration: none;
            }
        }
        
    }
    .right{
        float: right;
        li{
            float: left;
            border-right: 1px solid #ccc;
            padding: 0 8px;
            margin: 9px 0px;
            &:nth-child(4){
                margin:7px 0px;
            }
            color: #737373;
            a{
                color: #737373;
                &:hover{
                    color: #ff6a00;
                    text-decoration: none;
                }
            }
            button{
                border: 0;
                font-size: 12px;
                padding: 0;
                background-color: transparent;
                color: #737373;
                &:hover{
                    color: #ff6a00;
                    background-color: transparent;
                }
            }
        }
    }
}

// logo部分
.logo{
    height: 100px;
}
// 导航区
nav.mainNav{
    border-bottom: 5px solid #ff6a00;
    .container{
        ul{
            >li{
                float: left;
                padding:0 20px;
                &:first-child{
                    width: 230px;
                    background-color: #ff6a00;
                    a{
                        color: #fff;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
                &:last-child{
                    a{
                        color: #ff6a00;
                    }
                }
                >a{
                    color:#222;
                    font: bold 15px/38px "";
                    &:hover{
                        text-decoration: none;
                        color: #ff6a00;
                    }
                }

            }
        }
    }
}

.banner{
    position: relative;
    .swiper-container{// banner下的轮播图
        .swiper-button-prev{
            left: 440px;
            color: rgba(255,255,255,.5);
            font-weight: bold ;
            &:hover{
                color: #fff;
            }
        }
        .swiper-button-next{
            right: 300px;
            color: rgba(255,255,255,.5);
            &:hover{
                color: #fff;
            }
        }
    }
    .container{//banner上的导航区
        // padding: 0;
        position: absolute;
        height: 100%;
        width: 230px;
        left: 190px;
        background-color: #fff;
        z-index: 2;
        border-bottom: #ff6a00 3px solid;
        ul{
            li {
                padding: 2px 0px 4px;
                border-bottom: 1px solid #ccc;
                >a{
                    font:bold 14px/28px tahoma;
                    color: #ff6a00;
                    &:hover{
                        text-decoration: none;
                    }
                }
                div{
                    // overflow: hidden;
                    a{
                        // float: left;
                        font:lighter 13px/24px tahoma;
                        margin-right: 11px;
                        color: #333333;;
                        &:hover{
                            color: #ff6a00;
                        }
                    }
                }
            }
        } 
    }
    aside{//选项卡得跟随部分
        position: absolute;
        height: 100%;
        width: 770px;
        left: 420px;
        background-color: #fff;
        z-index: 2;
        box-shadow: 3px -3px 10px 4px #ccc inset;
        padding:5px 15px;
        display: none;
        .active{
            display: block;
        }
        >div {
            display: none;
            h5{
                margin: 0;
                margin-bottom: 5px;
                padding:5px 0;
                color: #444;
                font-weight: bold;
                font-size: 14px;
                span{
                    display: inline-block;
                    width: 2px;
                    height: 14px;
                    background-color: #666;
                    margin-top: 6px;
                }
            }
            table{ 
                margin-bottom: 10px;
                tr td{
                    border: 1px solid #ccc;
                    border-collapse: collapse;
                    height: 90px;
                    width: 90px;
                    font-size: 12px;
                    text-align: center;
                    img{
                        display: block;
                        width: 90px;
                    }
                    p{
                        margin: 0;
                        margin-top: 5px;
                    }
                }
            }
            >p{
                padding-right:33px ;
                a{
                    color: #666;
                    font-size: 12px;
                    padding-right: 5px;
                    &:hover{
                        color: #ff6a00;
                    }
                }
            } 
        }
    }
}
