*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
nav.topNav{
    // overflow: hidden;
    font-size: 12px;
    font-family: "宋体";
    height: 35px;
    background-color: #f2f2f2;
    .left{
        float: left;
        li{
            line-height: 34px;
            float: left;
            padding: 0 6px;
            a{
                color: #737373;
                span{
                    color: #ff6a00;
                    padding-right: 3px;
                    padding-top: 6px;
                    font-size: 16px;
                }
            }
            :hover{
                color: #ff6a00;
                text-decoration: none;
            }
        }
        
    }
    .right{
        float: right;
        li{
            float: left;
            border-right: 1px solid #ccc;
            padding: 0 8px;
            margin: 9px 0px;
            &:nth-child(4){
                margin:7px 0px;
            }
            color: #737373;
            a{
                color: #737373;
                &:hover{
                    color: #ff6a00;
                    text-decoration: none;
                }
            }
            button{
                border: 0;
                font-size: 12px;
                padding: 0;
                background-color: transparent;
                color: #737373;
                &:hover{
                    color: #ff6a00;
                    background-color: transparent;
                }
            }
        }
    }
}
// logo部分
.logo{
    overflow: hidden;
    // height: 100px;
    img{
        float: left;
        margin-bottom: 10px;
    }
    .input-group{
        width: 442px;
        margin-top: 10px;
        float: right;
        button{
            background-color: #ff6a00;
            color: #fff;
        }
    }
}

//注册盒子部分
.loginBox{
    overflow: hidden;
    background: url(//img02.hua.com/pc/assets/img/login_bg.jpg);
    height: 474px;
    .login{
        height: 90%;
        width: 440px;
        background-color: #fff;
        margin: 1% 600px;
        margin-left: 890px;
        overflow: hidden;
        form{
            width: 320px;
            height: 265px;
            margin:60px;
            p{
                height: 30px;
            }
            button{
                width: 320px;
                background-color: #ff6a00;
                margin-top: 50px;
                font:bold 18px/26px "";
                color: #fff;
                letter-spacing: 8px;
                border-radius: 22px;
            }
        }
        >p{
            background-color: #aaa;
            text-align: center;
            font: 16px/42px "";
            a{
                text-decoration: none;
                color: #444;
            }
        }
    }
}
footer{
    height: 400px;
}